body {
  margin: 0px;
  overflow: hidden;
}

.sphere {
  fill: white;
}

.asia,
.north-america,
.south-america,
.europe,
.africa,
.oceania {
  /* fill: brown; */
  stroke: white;
  stroke-opacity: 0.1;
}

.north-america,
.south-america {
    fill: #3c6046;
}

.asia {
    fill: #b4464a;
}

.africa {
    fill: #cf9b35;
}

.europe {
    fill: #4b20e2;
}

.oceania {
    fill: #4f829b;
}

svg {
  width: 960px;
  height: 500px;
}

circle {
  fill: white;
	stroke: black;
  stroke-width: .5;
}
