body {
  margin: 0px;
  overflow: hidden;
}

.sphere {
  fill: white;
}

.country {
  fill: brown;
  stroke: white;
  stroke-opacity: 0.1;
}

svg {
  width: 960px;
  height: 500px;
}

circle {
  fill: white;
	stroke: black;
  stroke-width: .5;
}
